* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        radial-gradient(circle at top left, #8c1d18, #000);
    color: #fff;
}



.logo {
    color: #e50914;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* ===== MAIN BOX ===== */
.AA {
    width: 420px;
    margin: 60px auto;
    padding: 40px;
}

.AA h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sub {
    color: #b3b3b3;
    margin-bottom: 25px;
    font-size: 15px;
}

/* ===== INPUT ===== */
.AA input {
    width: 100%;
    padding: 16px;
    background: #111;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.AA input::placeholder {
    color: #8c8c8c;
}

.AA input:focus {
    outline: none;
    border-color: #e50914;
}

/* ===== BUTTON ===== */
.AA button {
    width: 100%;
    padding: 15px;
    background: #e50914;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.AA button:hover {
    background: #f6121d;
}

/* ===== GET HELP ===== */
.AB {
    margin-top: 18px;
    font-size: 14px;
    color: #b3b3b3;
    cursor: pointer;
}

.AB:hover {
    text-decoration: underline;
}

/* ===== CAPTCHA TEXT ===== */
.captcha {
    margin-top: 25px;
    font-size: 13px;
    color: #8c8c8c;
    line-height: 1.4;
}

.captcha span {
    color: #0071eb;
    cursor: pointer;
}

.captcha span:hover {
    text-decoration: underline;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
    .AA {
        width: 90%;
        padding: 25px;
    }

    .logo {
        font-size: 28px;
    }
}